$bgColour1: #1f2235;
$bgColour2: #24263b;
$pinkColor: #ff4a57;
$paracolor: white


#topHeader {
    background-color: $bgColour1;
    padding: 20px 80px;
}
.horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#brandlogo {
    width: 120px;
}

.navItem {
    list-style: none;
    margin-right: 24px;
    font-size: 18px;
}

.navItem a {
    text-decoration: none;
}

.navItem a:hover {
    color: $pinkColor;
}

/* home section style */
#home {
    background-color: #24263b;
    padding: 80px;
}

#socialIcons {
    justify-content: flex-start;
}

.icon {
    margin-right: 18px;
    text-align: center;
    border: 2px solid $pinkColor;
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    height: 40px;
    width: 40px;;
}

.icon:hover {
    background-color: $pinkColor;
    cursor: pointer;
}

.sectionTitle {
    font-size: 60px;
    font-weight: 700;
    margin: 18px 0;
}

.sectionP {
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 44px;
    
}

.portfolioBtn {
    background-color: $bgColour2;
    border-radius: 24px;
    width: 180px;
    height: 58px;
    font-weight: 800;

}

#playBtn {
    background-color: $pinkColor;
    padding: 14px 48px;
    font-size: 18px;
    border-radius: 24px;
    height: 58px;
    border: none;
    cursor: pointer;
}

#services {
    background-color: $bgColour1;
    padding: 80px;

}

.card {
    height: 300px;
    width: 300px;
    background-color: $bgColour2;
    border-radius: 14px;
    border: 2px solid $pinkColor;
    margin-bottom: 28px;
}

#smallservice {
    color: $pinkColor;
    font-size: small;
    text-align: center;
    text-justify: 5%;
    justify-content: space-between;
}

#bigservice {
    color: $paracolor;
    font-size: 400%;
    text-align: center;
    font-weight: bold;
    margin-top: 1%;
}

.paraservice {
    color: $paracolor;
    text-align: center;
    font-size: medium;
    margin-top: 2%;
}

.class {
  background-color: $pinkColor;
  color: $paracolor;
  border: 200 200;
  justify-content: flex-start;
  border-radius: 10px;
}
 
#gridcont{
    display: flex;
}
  

